GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_CLOUD_LOCATION=us-central1

MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=smartstudy
MONGODB_COLLECTION=chunks
MONGODB_VECTOR_INDEX=vector_index

GCS_BUCKET_NAME=smartstudy-pdf-uploads